# git ignore for Python
__pycache__
build
dist
*egg-info*
**/.*.swp
**/*pdf
**/.ipynb_checkpoints/
**/*.swp
**/*.pyc
venv

doc/_build
doc/generated
doc/_static/**/*.svg
apecosm/*pdf
apecosm/*png
doc/**/*.jpg
doc/data
data
