<html>

    <head>
        <link rel="stylesheet" type="text/css" href="normalize.css" media="screen">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'> <!-- link for the font -->
        <link rel="stylesheet" type="text/css" href="../css/styles.css">
    </head>

    <article class="page-header" vertical-align="middle">
        <a href="config_meta.html" class="btn" target=MAIN-WINDOW>Description</a>
        <a href="config_report.html" class="btn" target=MAIN-WINDOW>Configuration</a>
        {% if use_fishing is defined %}
        <a href="fisheries_report.html" class="btn" target=MAIN-WINDOW>Fisheries</a>
        {% endif %}
        <a href="results_report_global.html" class="btn" target=MAIN-WINDOW>Global</a>
        {% for item in domains %}
            <a href="results_report_{{ item }}.html" class="btn" target=MAIN-WINDOW>{{ item }}</a>
        {% endfor %}
    </article>



</html>
